//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

a.navbar-brand {
font-family: var(--ff-secondary);
font-size: 0.875rem;
}

.bg-light {
    background-color: #F0F8FF!important;
}

  .title h2 {
    color: #c59d5f;
    font-family: "s", cursive;
    text-align: center;
  }
